@use './mixins' as m;

.header {   
  z-index: 1;
  &__title {
    white-space: nowrap;    
    margin-bottom: 3rem;
    font-size: 2.1rem;
    @include m.title-shadow-points-small;
    @include m.media-breakpoint-up(xs) {
      font-size: 2.2rem;
    }   
    &--level1 {    
      font-size: 3rem;
      @include m.title-shadow-points;
      @include m.media-breakpoint-up(xs) {
        font-size: 3.2rem;
      }
    }
  }
}