@use './mixins' as m;

.header {   
  z-index: 1;
  &__title {    
    font-size: 2.5rem;
    @include m.title-shadow-points-small;
    &--level1 {      
      @include m.title-shadow-points;
      margin-bottom: 3rem;      
    }
    white-space: nowrap;
    @include m.media-breakpoint-up(xs) {
      font-size: 2.8rem;
    }
    @include m.media-breakpoint-up(sm) {
      font-size: 3.2rem;
    }

  }
}