<section class="skill">
    <shared-section-title [title]="title"
                          [level]="2"/>

    <div class="skill__container">
        <user-components-progressbar text="Scripting Python"
                                     [percent]="70"/>

        <user-components-progressbar text="Scripting Python"
                                     [percent]="30"/>

        <user-components-progressbar text="Scripting Python"
                                     [percent]="90"/>

        <user-components-progressbar text="Scripting Python"
                                     [percent]="40"/>
    </div>
</section>