<section #intro [id]="componentId" class="intro">
    <div class="intro__user">
        <div class="intro__image">
            <img src="assets/profile-image.png" alt="profile image" class="intro__img">
        </div>
        <div class="status">
            <span class="status__gradient"></span>
            <div class="status__content">Disponible para trabajar</div>            
        </div>
    </div>    
    <h1 class="intro__heading">
        Hola, soy José Antonio
    </h1>
    <p class="intro__description">        
        +16 años de experiencia como programador. Licenciado en Matemáticas. <span class="intro__job">Desarrollador FullStack especializado en backend</span>.
    </p>

    <components-profile-actions/>
    
</section>
