@use './variables' as v;
@use './mixins' as m;

.intro {    
    display: flex;
    flex-direction: column;
    padding-top: 2rem;    
    gap: 1.2rem;
    @include m.media-breakpoint-up(sm) {
        padding-top: 10rem;
        max-width: 65rem;
    }
    &__user {
        display: flex;
        align-items: center;
        gap: 1.7rem;
    }
    &__image {
        border-radius: 50%;
        overflow: hidden;
        width: 10rem;
        box-shadow: 0 0 10px rgb(255 255 255 / .1);
    }
    &__heading {        
        line-height: 1.1;        
        color: v.$primary;
        font-size: 3rem;    
        @include m.media-breakpoint-up(sm) {
            font-size: 3.8rem;
        }
    }
    &__description {
        line-height: 1.3;
        font-size: 1.8rem;
        @include m.media-breakpoint-up(sm) {
            font-size: 2.2rem;
        }
    }
    &__job {
        color: v.$text-highlight;
        font-weight: 700;
    }
}

.status {
    @include m.conic-gradient-button(
        $border_color_0: v.$light-teal,
        $border_color_50: v.$dark-teal,
        $background-color: v.$bg-gray-800, 
        $color: v.$text-white-opacity-80
    );
}