<section #intro [id]="componentId" class="intro">
    <div class="intro__user">
        <div class="intro__image">
            <img src="assets/profile-image.png" alt="profile image" class="intro__img">
        </div>

        <div class="status">
            <span class="status__gradient"></span>
            <div class="status__content">Disponible para trabajar</div>            
        </div>
    </div>

    <div class="intro__heading">
fasfasd
    </div>

    <div class="intro__description">

    </div>

    <div class="social-media">

    </div>

    <div class="btn-downlad-cv">

    </div>
</section>
