@use './variables' as v;

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Outfit", Helvetica, sans-serif;
  font-size: 1.5rem;
  color: v.$primary;
  background-color: rgb(10 10 10);
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: v.$secondary;
}
