<section #about [id]="componentId" class="about">
    <shared-section-title title="Sobre mi"/>
    <p>
        Soy José Antonio, un programador con más de 16 años de experiencia y licenciado en Matemáticas. Mi especialización es en desarrollo backend, particularmente en aplicaciones que mejoran la integración de sistemas. Manejo lenguajes como Python y frameworks como Django, NodeJS, Express y NestJS, utilizando TypeScript. Tengo experiencia en arquitecturas de microservicios, diseño de bases de datos SQL y no SQL, y en programación ABAP, abarcando varios módulos de SAP. También soy consultor de integración en SAP Integration Suite, donde utilizo Groovy, Javascript y XSLT. Además de backend, poseo habilidades en desarrollo frontend con Angular, manejo de Linux, scripting en Bash y Python, y gestión de contenedores con Docker, lo que me permite desplegar aplicaciones tanto en la nube como en servidores locales.</p>    
</section>
