<section #about [id]="componentId">
    <h1>About</h1>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
    <p>about content</p>
</section>
