<div class="timeline">
    <article class="timeline__item">
        <header class="timeline__header">
            <h4 class="timeline__year">2010</h4>
            <span class="timeline__company">Universidad de Madrid</span>
        </header>

        <div class="timeline__divider"></div>

        <div class="timeline__description">
            <h3 class="timeline__title">Desarrollo Web</h3>
            <p class="timeline__text font-responsive">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptates iure pariatur impedit voluptas corporis sint hic fuga rem sed neque aliquid.
            </p>
        </div>
    </article>

    <article class="timeline__item">
        <header class="timeline__header">
            <h4 class="timeline__year">2008</h4>
            <span class="timeline__company">Universidad de Madrid</span>
        </header>

        <div class="timeline__divider"></div>

        <div class="timeline__description">
            <h3 class="timeline__title">Desarrollo Web</h3>
            <p class="timeline__text font-responsive">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptates iure pariatur impedit voluptas corporis sint hic fuga rem sed neque aliquid.
            </p>
        </div>
    </article>

    <article class="timeline__item">
        <header class="timeline__header">
            <h4 class="timeline__year">2008</h4>
            <span class="timeline__company">Universidad de Madrid</span>
        </header>

        <div class="timeline__divider"></div>

        <div class="timeline__description">
            <h3 class="timeline__title">Desarrollo Web</h3>
            <p class="timeline__text font-responsive">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptates iure pariatur impedit voluptas corporis sint hic fuga rem sed neque aliquid.
            </p>
        </div>
    </article>    
</div>