<div class="profile_actions">
    <ul class="profile_actions__links">
        <li class="profile_actions__option">
            <a class="profile_actions__link" href="#">
                <i class="profile_actions__icon fa-brands fa-linkedin"></i>
                <span class="provile_actions__text">Linkedin</span>
            </a>
        </li>
        <li class="profile_actions__option">
            <a class="profile_actions__link" href="#">
                <i class="profile_actions__icon fa-brands fa-github"></i>
                <span class="provile_actions__text">GitHub</span>
            </a>
        </li>
        <li class="profile_actions__option">
            <a class="profile_actions__link" href="#">
                <i class="profile_actions__icon fa-brands fa-github"></i>
                <span class="provile_actions__text">Curriculum Vitae</span>
            </a>
        </li>
    </ul>        
</div>
