$primary: #FFF;
$secondary: #FFD700;
$text-highlight: #E0C879;
$text-highlight-secondary: #F6BB19;
$bg-gray-800: #1F2937; 
$light-teal: #51E4B8;
$dark-teal: #21554E;
$interactive-background: rgba(94, 87, 106, 0.75);
$divider-color: rgba(255 255 255 / .1);
$text-white-opacity-80: rgba(255, 255, 255, 0.8);
