$primary: #FFF;
$text-highlight: #4dd8ae;
$bg-gray-400: #CBD5E0;
$bg-gray-500: #6B7280;
$bg-gray-800: #1F2937;
$bg-gray-900: #1A202C;
$light-teal: #51E4B8;
$dark-teal: #21554E;
$interactive-background: rgba(94, 87, 106, 0.75);
$divider-color: rgba(255 255 255 / .1);
$text-white-opacity-80: rgba(255, 255, 255, 0.8);
