$top-gap-main-content: 3rem;

$layout-width-desktop: 120rem;
$layout-width-tablet: 100rem;
$layout-width-mobile: min(90rem, 90%);

$sidebar-width-default: 6.5rem;
$sidebar-width-mobile: min(25rem, 80%);